<div class="container center-style club-cards">
  <!--<h1 style="font-family: Lobster">Clubs</h1>-->
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="row">
        {{# each clubs}}
          <a href="{{clubUrl slug}}">
            <div class="col-sm-4 col-md-4 col-lg-4 mx-auto">
              <div class="card" style="border-radius:4px;border:1px solid #dadada;max-width:400px; margin-bottom:15px; color:black;background-color:white;box-shadow: 0 3px 5px rgba(0,0,0,.2);">

                <div style="background-color:gray; max-width:100%;">
                  {{#if banner}}<img class="card-img-top img-responsive" src="{{{cloudinaryUrl banner width=400 height=200}}}" onerror="this.src='../images/default.png'">{{/if}}
                </div>

                <!--<div class="card-img-top img-responsive" title="banner" style="background-image:url({{{cloudinaryUrl banner width=400 height=200}}}); width:400px; height:200px; background-color:gray;"></div>-->
                <div class="card-body" style="height:80px;">
                  <h4 class="card-title" style="padding:5px">{{{title}}}</h4>
                  <p class="card-text">{{{description.brief}}}</p>
                  <!--
                  <figure class="col">
                    {{# if image}}<img src="{{{cloudinaryUrl image}}}" style="margin: 0 auto 0 auto; max-width:100%; max-height:100%">{{/if}}
                    <div style="height:50%">
                      <p>{{{title}}}</p>
                    </div>
                  </figure>-->
                </div>
              </div>
            </div>
          </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>
