<div class="container center-style">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <article>
        <p><a href="/events">&larr; Back to Events</a></p>
      </article>
      <hr>
      <header>
        <h1>{{data.event.title}}</h1>
      </header>
      <div class="row">
        <div class="col-md-6 col-lg-6">
          {{# if data.event.image}}
            <img src="{{cloudinaryUrl data.event.image crop='fit'}}" class="img-responsive">
          {{/if}}
        </div>
        <div class="col-md-6 col-lg-6">
          <ul class="list-group">
            <li class="list-group-item"><strong>Date of Event: </strong>{{data.event.eventDate}}</li>
						<li class="list-group-item"><strong>Author: </strong>{{#if author.name.first}}by {{author.name.first}}{{/if}}</li>
					</ul>
          <div class="well">
						{{{event.description.brief}}}
            {{{event.description.extended}}}
          </div>
          <a class="btn btn-success btn-block" href="/contact">Ask About This Event</a>
        </div>
      </div>
    </div>
  </div>
</div>
